body {
    margin-left: 40px;
    margin-right: 40px;
}

.header,
.footer {
    background-color: #1F2937;
    color: white;
}
.header {
    padding-bottom: 50px;
}
.navbar {
    display: flex;
    justify-content: space-between;   
}
 
ul {
    list-style: none;
}
li {
    display: inline-block;
    margin: 10px; 
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.left {
    width: 600px;
}
button {
    background-color: #3882F6;
    color: white;
    padding: 12px 25px;
    border-radius: 10px;
    border: 2px solid #3882F6;
}
img {
    width: 100px;
    height: 100px;
}
.body {
    text-align: center;
}
.title {
    font-size: 36px;
    font-weight: bolder
}
.container {
    display: flex;
    justify-content: center;
    gap: 52px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.second-layer {
    background-color: #E5E7EB;
    padding-left: 150px;
    padding-right: 150px;
}
p {
    font-style: italic;
    font-size: 36px;
}
.quote {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}
.first-part {
    background-color: #3882F6;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 100px;
    padding-right: 100px;
}

.second-part {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}